<html>
  <head>
    <title>Hello</title>
  </head>
  <body>
    <h1>Hello, <%= @greetname %></h1>
    <p>
      This was installed on <%= node['fqdn'] %>
      on platform <%= node['platform'] %>
    </p>
  </body>
</html>
